<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>todo with backbone</title>
<link rel="stylesheet" href="index.css"/>
</head>
<body>
<div id="todoapp" class="main">
    <header>
        <h1>Todo</h1>
        <input id="newItem" type="text" placeholder="try to record something">
    </header>

    <section id="main">
        <input id="toggleAll" type="checkbox" />
        <label for="toggleAll">Mark all as complete</label>
        <ul id="todoList"></ul>
    </section>
    <footer>
        <a id="clearMarked">Clear completed</a>
        <div id="remain"></div>
    </footer>
</div>
<script src="lib/json2.js"></script>
<script src="lib/jquery.js"></script>
<script src="lib/underscore.js"></script>
<script src="lib/backbone.js"></script>
<script src="lib/backbone.localStorage.js"></script>
<script src="app/todos.js"></script>

<script type="text/template" id="itemTpl">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%- title %></label>
      <a class="destroy">&#215;</a>
    </div>
    <input class="edit" type="text" value="<%- title %>" />
</script>

<script type="text/template" id="infoTpl">
    <% if (done) { %>
      <a id="clearMarked">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="remain"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
</script>
</body>
</html>
